<form method='get' path='<%=request.path%>' class="form-inline">       
  <label> Page </label> <input type='number' class='form-control' style='width: 60px' name='page' value='<%=page%>'/>
  <label> Sort by </label>
  <select name='sort_field' class="form-control"> 
    <% mongo_coll_keys(coll).each do |k| %>
    <option value="<%=k%>" <%='selected' if sort_field.to_s == k %>><%= k %></option>
    <% end %>
  </select>

  <label> Sort dir </label>
  <select name='sort_dir' class="form-control"> 
    <option value="1" <%='selected' if sort_dir.to_s == "1" %>> Up </option> 
    <option value="-1" <%='selected' if sort_dir.to_s == "-1" %>> Down </option>
  </select>

  <div>    
    <input type='text' class='form-control' name='anywhere_val' placeholder='search by id, name, etc' value='<%=params[:anywhere_val].to_s%>'/>
    <button type="submit" class="btn btn-primary">Get <%=coll.name.capitalize%></button> 
    
    <button type="button" class="btn btn-primary btn-raised" data-toggle="modal" data-target="#complete-dialog" disabled>Create <%=coll.name[0..-2].capitalize%><div class="ripple-container"></div></button>    
  </div>
  
</form>

<%= erb :"admin/create_item_dialog", locals: {coll: coll} %>