<%
title = list[0]
items = list[1]
%>
<label><%= title.capitalize %></label>
      <select name='<%= title %>' class="form-control" onchange=$(this).closest('form').submit()>
          <option value=''>Any</option>
        <% items.each_with_index do |item, idx| %>
          <option value='<%=item%>' <%='selected' if item.to_s==params[title]%>><%= item.capitalize %></option>
        <% end %>
</select>