<!-- not currently active -->
<h1> Search: Not Currently Active </h1>
<div class='col-md-4 search_page'>  
  <form action='/search_page' method='get'>
    <div class="form-group">
      <label>Name Contains</label>
      <input type="text" class='form-control' name='title' placeholder='Title contains' value='<%=params[:title]%>'>
      
      <label>Description Contains</label>
      <input type="text" class='form-control' name='desc' placeholder='Description Contains' value='<%=params[:desc]%>'>
      
      <label>Category</label>
      <select name='category' class="form-control" id="sel1">
          <option value=''>Any</option>
        <% ITEM_CATEGORIES.each_with_index do |cat, idx| %>
          <option value='<%=cat%>' <%='selected' if cat.to_s==params[:category]%>><%= cat.capitalize %></option>
        <% end %>
      </select>
      <!-- <p class="help-block">Search for users or posts.</p> -->
    </div>
    <button type="submit" class="btn btn-default">Search</button>
  </form>  
</div>

<div class='col-md-8'>
<% if results %>
    <%= erb :"pages/search/search_results", locals: {results: results} %>
<% end %>
</div>