<h1> Search </h1>
<div class='col-md-2 search_page'>  
  <form action='/search_page' method='get'>
    <div class="form-group">
      <label>Name Contains</label>
      <input type="text" class='form-control' name='title' placeholder='Title contains' value='<%=params[:title]%>'>
      
      <label>Description Contains</label>
      <input type="text" class='form-control' name='desc' placeholder='Description Contains' value='<%=params[:desc]%>'>
      
      <label>Price below</label>
      <input type="number" class='form-control' name='price' value='<%=params[:price]%>'>
      
      <%= erb :"items/item_form_parts/item_facets_dropdowns", locals: {submit_on_change: true} %>
      <!-- <p class="help-block">Search for users or posts.</p> -->
    </div>
    <button type="submit" class="btn btn-default">Search</button>
  </form>  
</div>

<div class='col-md-10'>
<% if results %>
    <%= erb :"pages/search/search_results", locals: {results: results} %>
<% end %>
</div>