<%
  user ||= $users.get(item['user_id'])
%>
<h1 class='ct'><%= item['title'] %> <% if item['user_id'] == cuid %>
   <a class='btn btn-warning btn' href='/edit_item?item_id=<%=item['_id']%>'>Edit</a>
  <% end %> </h1>

<section class='ct'>  
  <% ['category', 'subcat','types','divisions','materials','technologies'].each do |field| %>
    <span> <strong><%= item[field] %> </strong> / </span>    
  <% end %>
  <span> <a class='' href='<%=user_link(user)%>'> <%= udn(user) %> </a> </span>
  <hr/> 
  <p><b><%= item['desc'] %></b></p>
  
  <!-- <p> Created at: <span> <%= item['created_at'] %> </span> </p> -->
  <div> <a class='btn btn-success btn-lg' href='/payment_page?item_id=<%=item['_id']%>'>Buy Item (<%= item['price'] %>$)</a> </div>

  <%= erb :"layout/partials/sharing_btns" %>
  <%= erb :"items/item_page/imgs_gallery", locals: {item: item} %>
<!--   <div> This item has been purchased <b> <%= $purchases.count(item_id: item['_id']) %></b> times.</div>
 -->
  <%#= erb :"items/parts/item_zip_url", locals: {item: item} %>  
</section>
