<%
  item = item || {}
%>

<section class='col-md-6'>
<h3> <%= title %> </h3>
  <form action=<%= route %> method='post' enctype="multipart/form-data">
    <% if item['_id'] %>
    <input type="hidden" name='item_id' value='<%=item['_id']%>'> 
    <% end %>
    <% [:title, :desc].each do |field| %>
      <div class="form-group">
        <label for="item-form-<%=field%>"><%=field.capitalize%></label>
        <input type="text" class="form-control" id="item-form-<%=field%>" placeholder="<%=field%>" name=<%=field%> value='<%=item[field]%>'>
      </div>
    <% end %>
    
    <div class="form-group">
      <label for="sel1">Category:</label>
      <select name='category' class="form-control" id="sel1">
        <% ITEM_CATEGORIES.each_with_index do |cat, idx| %>
          <option <%="selected" if idx==0%> value='<%=cat%>'><%= cat.capitalize %></option>
        <% end %>
      </select>
    </div>

    <%= erb :"items/item_form_parts/imgs_area", locals: {item: item} %>
    <%= erb :"items/item_form_parts/file_upload" %> 
    
    <button type="submit" class="btn btn-default">Submit</button>
</form>
</section>