<a class='col-md-3 search_result_container ct' href="<%=item_link(item)%>">
  <article class='search_result'>
  <h4><%= (item['title']).trunc(50)%></h4> 
  <img class='center' src='<%=item['imgs'].first['link'] rescue nil%>' style='height: 100px'>
  <div>
  <%=item['category']%> / <%=item['subcat']%> / <%=item['type']%> / 

  <b><%=item['price']%>$</b>
  </div>
  </article>
</a>

<% if false %>
<%=item['material']%> / <%=item['technology']%>
<% end %>