<%
title = list[:title].to_s
options = list[:items]
submit_on_change ||= false
require_select ||= false
select_option = params[list[:id]] || item[title] #either in search page and params[:category]=='pop' or in item page and item[:category]=='pop'
%>
<label><%= title.capitalize %></label>
      <select name='<%= list[:id] %>' class="form-control" <%= "onchange=$(this).closest('form').submit()" if submit_on_change%> <%='required' if require_select%>>
          <option value=''>Any</option>
        <% options.each_with_index do |option, idx| %>
          <% 
            disabled = option[:disabled] 
            val      = option[:id]
            display  = option[:val]
          %>
          <option value="<%=val%>" <%='selected' if val.to_s==select_option%> <%='disabled' if disabled%>><%= display %></option>
        <% end %>
</select>