<%
%>

<div class='col-md-4'>
  <h3> My details </h3>
  <form action='/update_me' method='post'>
    <% ['email','name','username'].each do |field| %>
      <div class="form-group">
        <label for="me-form-<%=field%>"><%=field.capitalize%></label>
        <input type="text" class="form-control" name=<%=field%> id="me-form-<%=field%>" placeholder="<%=field%>" value='<%=cu[field]%>'>
      </div>
    <% end %>
    <div class="form-group">
        <% if cu['imgs'] %>
          <div>
            <label style='display:block'> My Image </label>
            <img src="<%=cu['imgs'][0]%>" height=100 display:block>
          </div>
        <% end %>
        <label> New Image </label>
        <%= erb :"layout/partials/upload_to_imgur_input" %>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

  <hr/>
  <a class='btn btn-default' href='/my_purchases'> My purchases </a>
  <hr/>
  <%= erb :"items/user_items", locals: {user: cu} %>
  
  <hr/>
  <a class='btn btn-lg btn-primary' href='/items/creation_page'> Create Item </a>
</div>

<div class='col-md-4 col-md-offset-2'>
  <%= erb :"users/my_settings", locals: {user: cu} %>
</div>