<h1> Me </h1>

<%
  fields = SETTABLE_USER_FIELDS
%>

<div class='col-md-6'>
  <h3> My details </h3>
  <form action='/update_me' method='post'>
    <% SETTABLE_USER_FIELDS.each do |field| %>
      <div class="form-group">
        <label for="me-form-<%=field%>"><%=field.capitalize%></label>
        <input type="text" class="form-control" name=<%=field%> id="me-form-<%=field%>" placeholder="<%=field%>" value='<%=cu[field]%>'>
      </div>
    <% end %>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

  <hr/>

  <h3> My Items </h3>  
  <% items = $items.all(user_id: cuid) %>
  <% items.each do |item| %>
    <%= erb :"items/single_item", locals: {item: item} %>
  <% end %>

  <%= erb :"items/item_form", locals: {route: '/add_item', title: 'Add Item'} %>
</div>