<h1> User page </h1>

<%#= erb :"layout/partials/callout" %>
<section class='col-md-6'>
  <%= user_img_tag(user) %>
  <p class='bg-primary p15'><%= user['name']%></p>
  <p class='bg-primary p15'><%= user['email']%></p>
  <p class='bg-primary p15'><%= user['username']%></p>
  <p class='bg-primary p15'><%= user['_id']%></p>
  <% if is_admin %>
  <a class='btn btn-danger btn-lg' href='/admin/login_as?user_id=<%=user['_id']%>'>Login As</a>
  <% end %>
  
  <%= erb :"items/user_items", locals: {user: user} %>
  <%#= erb :"pages/convos/send_msg_form", locals: {user: user} %>
</section>
